  <footer class="main-footer text-sm">
    <strong>Copyright &copy; 2020 <a href="https://github.com/LDiegoM">Diego L</a>.</strong>
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 0.0.1
    </div>
  </footer>
